# Get some basic stuff
snippet init Basicstuff
	*,
	*::before,
	*::after {
	\tbox-sizing: border-box;
	\tpadding: 0;
	\tmargin: 0;
	}

snippet debug Set outline
	*,
	*::before,
	*::after {
		outline: 1px dotted limegreen
	}
